/* Imported font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* COMMON CSS */
/* -------------------- */
*,
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* ********************* */
/* CSS FOR HEADER */
/* ********************* */
header {
  background-color: #5a5a5a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 40px;
}
div.introduction {
  color: #ffffff;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
span:first-child {
  color: black;
}
span:last-child:hover {
  color: red;
}
button.duel {
  overflow: hidden;
  position: relative;
  top: 1rem;
  padding: 0.5rem 0.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  width: 170px;
  background-color: #a9a7a7;
  margin: auto auto 2.5rem auto;
}
button.duel:hover {
  color: white;
}
button.duel::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -111%;
  background: red;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel:hover::before {
  left: -43%;
}

button.duel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 110%;
  background: black;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel:hover::after {
  left: 50%;
}
div.img-container img {
  width: 90%;
}

/* ************************************ */
/* CSS FOR PLAYERS-INFO SECTION */
/* ************************************ */
section.players-info {
  margin-top: 5rem;
}
div.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
  margin: auto;
  width: 50%;
}
article.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px 0px rgb(6 6 6 / 40%);
  height: 400px;
}
.img-box {
  width: 100%;
}
article.player img {
  width: 100%;
}

/*************************************/
/**CSS FOR PERCENTAGE SECTION**/
/*************************************/
section.percentage {
  margin-top: 5rem;
  font-size: 2rem;
  background: url("../images/bg-pic - Copy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  /* width: 100vh; */
  color: white;
}
section.percentage h1 {
  text-align: center;
}
div.numbers {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  place-items: center;
  text-align: center;
  margin-top: 20rem;
  width: 80%;
  margin: auto;
}

/* ********************************* */
/* CSS FOR PREV-MATCHES SECTION */
/* ******************************** */
section.prev-matches {
  margin-top: 5rem;
  height: 50vh;
  margin-bottom: 0;
}
section.prev-matches h1 {
  margin-bottom: 50px;
}
h1.header-text {
  text-align: center;
  font-size: 2.6rem;
}
div.matches {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 40px;
  place-items: center;
  width: 80%;
  margin: auto auto auto auto;
  align-self: center;
}
article.match {
  background-color: #f1f1f1;
  width: 100%;
  height: 260px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
article.match img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  transition: transform 600ms;
}
article.match:hover img {
  transform: scale(1.1);
}
article.match h1 {
  text-align: center;
  font-size: 1.5rem;
}

/* ********************************* */
/* CSS FOR HIGHLIGHTS SECTION */
/* ******************************** */
section.highlights {
  margin-top: 2rem;
}
article.higlights-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-items: center;
  width: 70%;
  margin: auto;
}
div.text-box {
  width: 70%;
}
div.text-box h1 {
  font-size: 2.5rem;
}
div.text-box p {
  font-size: 1rem;
}
div.text-box button {
  background-color: #d2d2d2;
}
div.img-box {
  width: 100%;
}
div.img-box img {
  width: 90%;
  height: auto;
}

/***********************/
/**CSS FOR FOOTER**/
/***********************/
footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(1, 400px);
  justify-content: center;
  place-items: center;
}
footer div.img-box {
  margin: auto;
}
footer .contact-copyright {
  text-align: center;
  margin: auto;
}
footer .contact-copyright i {
  border-radius: 10px;
  font-size: 1.4rem;
}

/****************************/
/* MEDIA QUERY FOR IPAD */
/***************************/

@media (min-width: 481px) and (max-width: 768px) {
  /* ****************************************** */
  /* IPAD CSS FOR PLAYERS-INFO SECTION */
  /* ****************************************** */
  div.players {
    grid-template-columns: repeat(2, 200px);
  }

  /* ****************************************** */
  /* IPAD CSS FOR PERCENTAGE SECTION */
  /* ****************************************** */
  section.percentage {
    width: 75vh;
    height: initial;
    margin: 5rem auto auto auto;
    font-size: 1.5rem;
  }
  div.numbers {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  /* ********************************* */
  /* IPAD CSS FOR PREV-MATCHES SECTION */
  /* ******************************** */
  section.prev-matches {
    margin-top: 5rem;
    background-color: #f1f1f1;
    height: initial;
    padding: 1.5rem 0;
    /* border: 2px solid red; */
    width: fit-content;
  }
  div.matches {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 40px;
    place-items: center;
    width: 80%;
    margin: auto auto auto auto;
    align-self: center;
  }
}

/****************************/
/* MEDIA QUERY FOR MOBILE */
/***************************/

@media (min-width: 320px) and (max-width: 480px) {
  /* ********************* */
  /* MOBILE CSS FOR HEADER */
  /* ********************* */
  header {
    width: fit-content;
    height: initial;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  button.duel {
    margin: auto;
  }

  /* ************************************ */
  /* MOBILE CSS FOR PLAYERS-INFO SECTION */
  /* ************************************ */
  div.players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    grid-gap: 20px;
    width: 80%;
  }

  /* ******************************** */
  /* MOBILE CSS for PERCENTAGE SECTION */
  /* ******************************** */
  section.percentage {
    margin: 5rem auto auto auto;
    font-size: 1rem;
    background: url("../images/bg-pic - Copy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: initial;
    width: 54vh;
    color: white;
  }
  section.percentage h1 {
    text-align: center;
  }
  div.numbers {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 10px;
    place-items: center;
    text-align: center;
    margin-top: 20rem;
    margin: inherit;
    padding-bottom: 10px;
  }

  /* ********************************* */
  /* MOBILE CSS FOR PREV-MATCHES SECTION */
  /* ******************************** */
  section.prev-matches {
    margin-top: 5rem;
    background-color: #f1f1f1;
    height: initial;
    padding: 1.5rem 0;
  }
  div.matches {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-gap: 40px;
    place-items: center;
    width: 80%;
    margin: auto auto auto auto;
    align-self: center;
  }

  /* ******************************** */
  /* MOBILE CSS for HIGHLIHGTS SECTION */
  /* ******************************** */
  section.highlights {
    margin-top: 10rem;
  }
  article.higlights-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    width: 70%;
    margin: auto;
  }
  div.text-box {
    width: 70%;
    margin-bottom: 3rem;
  }

  /* ******************************** */
  /* MOBILE CSS for FOOTER */
  /* ******************************** */
  footer .img-box {
    width: 80%;
  }
  footer .img-box img {
    width: 90%;
    place-items: center;
  }
}
