/* Imported font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* COMMON CSS */
/* -------------------- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
}
section,
footer {
  margin-top: 10rem;
}
/* ****************** */
/* CSS FOR HEADER */
/* ****************** */
header {
  margin: 0;
  padding: 0;
  background: #504d4d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  height: 550px;
  width: 100%;
}
div.introduction {
  height: 430px;
  width: 485px;
  font-size: 34px;
  line-height: 60px;
  align-self: center;
  justify-self: end;
}
div.introduction span:first-child {
  color: black;
}
div.introduction span:nth-child(2) {
  color: red;
}
div.introduction span:nth-child(2):hover {
  color: black;
}
div.img-container {
  align-self: center;
  justify-self: start;
}
div.img-container img {
  height: 438px;
  width: 556px;
}
button.duel-color {
  position: relative;
  bottom: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: hidden;
  background-color: #bdbcbc;
}
button.duel-color:hover {
  color: white;
  cursor: pointer;
}
button.duel-color::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -111%;
  background: red;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::before {
  left: -50%;
}
button.duel-color::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 110%;
  background: black;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::after {
  left: 49%;
}

/* ****************************** */
/* CSS FOR PLAYER-INFO SECTION */
/* ****************************** */
section.player-info {
  margin-top: 5rem;
}
div.players {
  padding: 2rem;
  width: 1250px;
  /*   height: 474px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: auto;
  gap: 20px;
}
div.player {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 10px 10px rgb(226 226 226 / 80%);
}
div.player div.player-img {
  max-width: 100%;
}
div.player div.player-img img {
  width: 20.5em;
}

/* ******************************** */
/*** CSS FOR HIGHLIGHTS SECTION ***/
/* ******************************** */
section.highlights {
  margin-top: 15rem;
}
div.highlights-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: auto;
}
div.texts {
  font-size: 1.3em;
  width: 466px;
  height: 309px;
}
div.img-box img {
  width: 600px;
}
button.z-out {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: hidden;
  background-color: #fffef6;
  box-shadow: 0px 0px 5px;
  cursor: pointer;
}
button.z-out::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: transform 200ms;
  transform: scale(0);
  background: #0af;
  z-index: -1;
  transform-origin: top;
  border-radius: 0% 0% 100% 100%;
}
button.z-out:hover::before {
  transform: scale(1.27);
}

/* ************************************** */
/* CSS FOR PREVIOUS MATCHES SECTION */
/* ************************************** */
section.previous-matches {
  height: 100vh;
  width: 100%;
  margin: auto;
  margin-top: 9rem;
}
h1.header-text {
  text-align: center;
  font-size: 2.6rem;
}
div.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
div.img-text-box {
  height: 270px;
  width: 300px;
  padding: 0.3em;
  background-color: #f2f2f2;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 10px rgb(226 226 226 / 80%);
  overflow: hidden;
  border-radius: 10%;
}
div.img-text-box h1 {
  text-align: center;
}
div.img-text-box:hover img {
  transition: transform 0.5s;
  cursor: pointer;

  transform: scale(1.1);
}

div.football-img-box {
  width: 100%;
}
div.football-img-box img {
  width: 100%;
  height: 200px;
  border-radius: 10%;
}

/* ***************** */
/** CHANCES SECTION **/
/* ***************** */
section.chances {
  background: linear-gradient(#00000073, #00000073),
    url("../images/bg-pic - Copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
section.chances h1.header-text {
  color: white;
}
div.chances-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.5rem;
}
div.single-boxes {
  text-align: center;
  color: white;
}

/* ********************* */
/*** CSS FOR FOOTER ***/
/* ********************* */
div.contacts-and-copyright {
  width: 98%;
  text-align: center;
  font-size: 16px;
  padding: 9px;
}
.footer-img {
  margin: auto;
  /*   border: 5px solid black; */
  width: 20%;
}
.footer-img img {
  width: 400px;
}
footer i {
  background: #dadada;
  border-radius: 100%;
  padding: 0.5rem;
}

/* ************************* */
/*** MEDIA QUERY FOR IPAD ***/
/* ************************ */
@media only screen and (max-width: 770px) {
  /* CSS FOR HEADER */
  header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 83rem;
    height: initial;
  }
  div.introduction,
  div.img-container {
    margin: auto;
  }

  /* CSS FOR PLAYER-INFO SECTION */
  /* -------------------------- */
  div.players {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-left: 255px;
  }

  /* CSS FOR HIGHLIGHTS SECTION */
  /* -------------------------- */
  section.highlights {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  div.highlights-box {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 300px;
  }
  div.img-box {
    margin-top: 5rem;
  }
  div.img-box img {
    width: 100%;
  }

  /* CSS FOR PREVIOUS MATCHES SECTION   */
  /* -------------------------------------- */
  section.previous-matches {
    margin-left: 300px;
    margin-top: 0rem;
  }
  div.main-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* CSS FOR CHANCES SECTION   */
  /* -------------------------- */
  section.chances {
    margin: 0rem;
    min-width: 1328px;
  }

  /* CSS FOR FOOTER   */
  /* -------------------------- */
  footer {
    margin-left: 250px;
  }
  div.contacts-and-copyright {
    margin-left: 100px;
  }
}



/* ************************* */
/*** MEDIA QUERY FOR MOBILE ***/
/* ************************ */

@media only screen and (max-width: 450px) {

  /* CSS FOR HEADER */
  /* -------------- */
  header {
    width: 83.1rem;
  }

  /*  CSS FOR PLAYER-INFO SECTION  */
  /* ------------------------------------ */
  section.player-info {
    grid-template-columns: repeat(1, 1fr);
  }

  /* CSS FOR HIGHLIGHTS SECTION */
  /* -------------------------- */
  section.highlights {
    margin-top: 10rem;
    margin-left: 200px;
    width: 800px;
  }
  div.texts {
    margin-left: 5rem;
    text-align: center;
  }
  div.highlights-box {
    margin-left: 150px;
    width: 80%;
  }
  div.img-box {
    width: 100%;
  }

  /* CSS FOR PREVIOUS MATCHES SECTION   */
  /* ------------------------------------ */
  section.previous-matches {
    margin-left: 350px;
    margin-top: 20rem;
    /*     border: 1px solid black; */
    width: 100vh;
    height: 100vh;
    margin-left: 300px;
    margin-bottom: 0;
  }
  div.main-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  div.img-text-box {
    width: 60%;
    height: 50vh;
    padding: 1rem;
  }
  div.img-text-box h1 {
    font-size: 2.4rem;
  }

  /* CSS FOR CHANCES SECTION   */
  /* -------------------------- */
  section.chances {
    margin-top: 80rem;
    min-width: 1330px;
  }

  /* CSS FOR FOOTER   */
  /* -------------------------- */
  footer {
    margin-left: 350px;
  }
  .footer-img {
    margin-left: 50px;
  }
  div.contacts-and-copyright {
    margin-left: 100px;
    width: 200px;
    margin-left: 200px;
  }
}
