/* Imported font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* COMMON CSS */
/* -------------------- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* ****************** */
/* CSS FOR HEADER */
/* ****************** */
header {
  margin: 0;
  padding: 0;
  background: #504d4d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 550px;
}
div.introduction {
  position: absolute;
  left: 456px;
  top: 107px;
  height: 230px;
  width: 485px;
  font-size: 34px;
  line-height: 60px;
}
div.introduction span:first-child {
  color: black;
}
div.introduction span:nth-child(2) {
  color: red;
}
div.img-container img {
  height: 438px;
  width: 556px;
  position: absolute;
  top: 53px;
  left: 1099px;
}
button.duel-color {
  position: relative;
  bottom: 3rem;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: hidden;
  background-color: #bdbcbc;
}
button.duel-color:hover {
  color: white;
}
button.duel-color::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -111%;
  background: red;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::before {
  left: -50%;
}
button.duel-color::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 110%;
  background: black;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::after {
  left: 49%;
}

/* ****************************** */
/* CSS FOR PLAYER-INFO SECTION */
/* ****************************** */
section.player-info {
  margin: 0 2.8rem;
}

div.players {
  padding: 0px;
  position: relative;
  width: 1250px;
  height: 474px;
  left: 250px;
  top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  place-items: center;
  margin-bottom: 60px;
}
div.player {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 10px 10px rgb(226 226 226 / 80%);
}
div.player div.player-img {
  max-width: 100%;
}
div.player div.player-img img {
  width: 20.5em;
}

/* ******************************** */
/*** CSS FOR HIGHLIGHTS SECTION ***/
/* ******************************** */
section.highlights {
  margin-top: 15rem;
}
div.highlights-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: auto;
}
div.texts {
  font-size: 1.3em;
  width: 466px;
  height: 309px;
}
div.img-box img {
  width: 600px;
}
button.z-out {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: hidden;
  background-color: #fffef6;
  box-shadow: 0px 0px 5px;
}
button.z-out::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: transform 200ms;
  transform: scale(0);
  background: #0af;
  z-index: -1;
  transform-origin: top;
  border-radius: 0% 0% 100% 100%;
}
button.z-out:hover::before {
  transform: scale(1.27);
}

/* ********************* */
/*** CSS FOR FOOTER ***/
/* ********************* */
footer {
  margin-top: 10rem;
}
div.contacts-and-copyright {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.footer-img {
  margin: auto;
  /*   border: 5px solid black; */
  width: 20%;
}
.footer-img img {
  width: 400px;
}
footer i{
  background: #dadada;
  border-radius:100%;
  padding: .5rem;
}



/*div.introduction {
  text-align: center;
  font-size: 35px;
  line-height: 89px;
}
div.introduction span:first-child {
  color: black;
}
div.introduction span:nth-child(2) {
  color: red;
}
button.duel-color {
  position: relative;
  bottom: 3rem;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  border: 0;
  outline: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: hidden;
}
button.duel-color:hover {
  color: white;
}
button.duel-color::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -111%;
  background: red;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::before {
  left: -50%;
}
button.duel-color::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 110%;
  background: black;
  transition: left 200ms;
  transform: skew(25deg);
  z-index: -1;
  width: 100%;
}
button.duel-color:hover::after {
  left: 49%;
}
.img-container {
  max-width: 100%;
  margin-right: 18rem;
}
.img-container img {
  max-width: 500px;
}

@media only screen and (max-width: 1050px) {
  header {
    flex-direction: column;
    height: 850px;
  }
  .img-container {
    margin: auto;
  }
} */
